<app-menu></app-menu>
<app-gato-detalle *ngIf="gatoSeleccionado" [gato]="gatoSeleccionado"></app-gato-detalle>
<div class="container-fluid">
    <div class="row">
        <app-dashboard class="col-md-2 bg-asa"></app-dashboard>
        <div class="col-md-10 mt-5">
            <div class="card border-primary mb-3 text-primary">
                <div class="card-header text-uppercase">Gatos</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Listado de gatos</h5>

                    <div class=" my-2 text-left">
                        <button type="button" class="btn btn-primary btn-rounded" *ngIf="isAdmin" (click)="rutaCrear()"> <i class="fas fa-plus-circle"></i>Crear
                            gato</button>
                    </div>
                    <div class="alert alert-info" *ngIf="gatos?.length==0">
                        No hay registros en la base de datos!
                    </div>
                    <div class="table-responsive">
                       
                        <table class="table table-hover table-bordered  text-primary" *ngIf="gatos?.length>0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Fecha Nacimiento</th>
                                    <th>Fecha Entrada</th>
                                    <th>Raza</th>
                                    <th>Tamaño</th>
                                    <th>Sexo</th>
                                    <th>Descripcion</th>
                                    <th>Situacion</th>
                                    <!-- <th>Residencia</th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let gato of gatos">
                                    <td> {{gato.id}} </td>
                                    <td> {{gato.nombre}} </td>
                                    <td> {{gato.fNacimiento}} </td>
                                    <td> {{gato.fEntrada}} </td>
                                    <td> {{gato.raza}} </td>
                                    <td> {{gato.size}} </td>
                                    <td> {{gato.sexo}} </td>
                                    <td> {{gato.descripcion}} </td>
                                    <td> {{gato.situacion}} </td>
                                    <!-- <td> {{gato.residencia}} </td> -->
                                
                                    <td><button class="btn btn-outline-primary" (click)="abrirModal(gato)"><i
                                                class="far fa-eye"></i> Ver</button></td>
                                    <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/gatos/editar/{{gato.id}}"><i
                                                class="far fa-edit"></i> Editar</button></td>
                                    <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(gato)"><i
                                                class="far fa-trash-alt"></i> Eliminar</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <app-pag-gato *ngIf="paginador" [paginador]="paginador"></app-pag-gato>
                </div>

                <!-- <div class="mt-3" *ngIf="isAdmin">
        <button class="btn btn-outline-success btn-lg" routerLink="/nuevo">
          <i class="fas fa-plus-circle"></i> Nuevo Producto</button>
      </div> -->

            </div>
        </div>
    </div>
</div>
