<app-header></app-header>
<app-voluntaria-lista></app-voluntaria-lista>
<div class="container-fluid page-voluntarios py-5 mb-5">
    <div class="container py-5 ">
        <div class="row py-5">
            <h1 class="d-flex justify-content-center text-white py-3 mb-3 text-uppercase "> ¡ {{titulo1}} ! </h1>
            <h4 class=" ps-5 ms-5 mb-3 text-center fuente-asa text-white"> {{texto1}} </h4>
            <h5 class=" ps-5 ms-5 mb-3 fuente-asa text-white"> {{texto11}} </h5>
        </div>
        <hr class=" color-asa">
    </div>
</div>

<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-5 ">
            <img src="../../../assets/img/ser_voluntario.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-6">
            <h3 class="color-asa text-capitalize"> {{titulo2}} </h3>
            <p class=" fuente-asa"> {{texto2}} </p>

        </div>
    </div>
</div>
<div class="container mt-4 py-4">
    <div class="row">
        <div class="col-md-6">
            <h3 class="color-asa text-capitalize"> {{titulo3}} </h3>
            <p class=" fuente-asa"> {{texto3}} </p>

            <ul>
                <li class="h4 color-asa text-capitalize">{{lista[0]}}</li>
                <p class="fuente-asa2">{{contenido[0]}}</p>
                <li class="h4 color-asa text-capitalize">{{lista[1]}}</li>
                <p class="fuente-asa2">{{contenido[1]}}</p>
                <li class="h4 color-asa text-capitalize">{{lista[2]}}</li>
                <p class="fuente-asa2">{{contenido[2]}}</p>
                <li class="h4 color-asa text-capitalize">{{lista[3]}}</li>
                <p class="fuente-asa2">{{contenido[3]}}</p>
                <li class="h4 color-asa text-capitalize">{{lista[4]}}</li>
                <p class="fuente-asa2">{{contenido[4]}}</p>
            </ul>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-5 ">
            <div class="row justify-content-center">
                <img src="../../../assets/img/vp1.jpg" class="img-fluid" alt="">
            </div>
            <div class="row justify-content-center mt-5 pt-5">

                <div class="col-3">
                    <a class="btn btn-asa btn-lg py-4 px-5 rounded-pill text-uppercase" routerLink="/pagina/formulario/voluntarias">Apuntate!</a>
                </div>

            </div>
        </div>

    </div>


</div>

<app-footer></app-footer>
