<app-menu></app-menu>
<app-encargado-detalle *ngIf="encargadoSeleccionado" [encargado]="encargadoSeleccionado"></app-encargado-detalle>
<div class="container-fluid">
    <div class="row">
        <app-dashboard class="col-md-2 bg-asa"></app-dashboard>
        <div class="col-md-10 mt-5">
            <div class="card border-primary mb-3 text-primary">
                <div class="card-header text-uppercase">Encargados</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Listado de encargados</h5>

                    <div class=" my-2 text-left">
                        <button type="button" class="btn btn-primary btn-rounded" (click)="rutaCrear()">Crear
                            encargado</button>
                    </div>
                    <div class="alert alert-info" *ngIf="encargados?.length==0">
                        No hay registros en la base de datos!
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered  text-primary" *ngIf="encargados?.length>0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Primer Apellido</th>
                                    <th>Segudno Apellido</th>
                                    <th>Email</th>
                                    <th>Telefono</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let encargado of encargados">
                                    <td> {{encargado.id}} </td>
                                    <td> {{encargado.nombre}} </td>
                                    <td> {{encargado.apellido1}} </td>
                                    <td> {{encargado.apellido2}} </td>
                                    <td> {{encargado.email}} </td>
                                    <td> {{encargado.telefono}} </td>
                                    <td><button class="btn btn-outline-primary" (click)="abrirModal(encargado)"><i
                                                class="far fa-eye"></i> Ver</button></td>
                                    <td *ngIf="isAdmin"><button class="btn btn-outline-warning"
                                            routerLink="/encargados/editar/{{encargado.id}}"><i class="far fa-edit"></i>
                                            Editar</button></td>
                                    <td *ngIf="isAdmin"><button class="btn btn-outline-danger"
                                            (click)="borrar(encargado)"><i class="far fa-trash-alt"></i>
                                            Eliminar</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <app-pag-encargado *ngIf="paginador" [paginador]="paginador"></app-pag-encargado>
                </div>
            </div>
        </div>
    </div>
</div>
