<app-header></app-header>

<div class="container bg-dark bg-opacity-25 mt-5">
    <div class="row">
        <div class="col-md-12">
            
                <form class="form-horizontal" method="post" action="badila.alina@gmail.com">
                    <fieldset>
                        <legend class="text-center header text-capitalize color-asa">Contacta con nosotros</legend>

                        <div class="form-group d-flex justify-content-center mb-2">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center mb-2">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="lname" name="name" type="text" placeholder="Apellidos" class="form-control">
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mb-2">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="email" name="email" type="text" placeholder="Correo electronico" class="form-control">
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mb-2">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-6">
                                <input id="phone" name="phone" type="text" placeholder="Telefono" class="form-control">
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mb-2">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" name="message" placeholder="Introducir mensaje a enviar" rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mb-2">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-asa btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
          
        </div>
    </div>
</div>
<app-footer></app-footer>