<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores"> {{err}} </li>
</ul>

<div class="container">
    <div class="card bg-dark text-white mt-5">
        <div class="card-header"> {{titulo}} </div>
        <div class="card-body">

            <form #perroForm="ngForm">
                <div class="form-group row mb-4">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="perro.nombre" name="nombre"
                            #nombre="ngModel">
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors['required']">
                                Nombre es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="fNacimiento" class="col-form-label col-sm-2">Fecha Nacimiento</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" [(ngModel)]="perro.fNacimiento" name="fNacimiento"
                            #fNacimiento="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="fNacimiento.invalid && (fNacimiento.dirty || fNacimiento.touched)">
                            <div *ngIf="fNacimiento.errors['required']">
                                Fecha Nacimiento es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="fEntrada" class="col-form-label col-sm-2">Fecha Entrada</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" [(ngModel)]="perro.fEntrada" name="fEntrada"
                            #fEntrada="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="fEntrada.invalid && (fEntrada.dirty || fEntrada.touched)">
                            <div *ngIf="fEntrada.errors['required']">
                                Fecha Entrada es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="raza" class="col-form-label col-sm-2">Raza</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="perro.raza" name="raza" #raza="ngModel">
                        <div class="alert alert-danger" *ngIf="raza.invalid && (raza.dirty || raza.touched)">
                            <div *ngIf="raza.errors['required']">
                                Raza es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="size" class="col-form-label col-sm-2">Tamaño</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="perro.size" name="size" #size="ngModel">
                        <div class="alert alert-danger" *ngIf="size.invalid && (size.dirty || size.touched)">
                            <div *ngIf="size.errors['required']">
                                Tamaño es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="sexo" class="col-form-label col-sm-2">Sexo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="perro.sexo" name="sexo" #sexo="ngModel">
                        <div class="alert alert-danger" *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)">
                            <div *ngIf="sexo.errors['required']">
                                Sexo es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="descripcion" class="col-form-label col-sm-2">Descripcion caracter</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="perro.descripcion" name="descripcion"
                            #descripcion="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                            <div *ngIf="descripcion.errors['required']">
                                Descripcion es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="situacion" class="col-form-label col-sm-2">Situacion</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="perro.situacion" name="situacion"
                            #situacion="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="situacion.invalid && (situacion.dirty || situacion.touched)">
                            <div *ngIf="situacion.errors['required']">
                                Situacion es requerido!
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="perro.situacion =='residencia'">
                <div class="form-group row">
                    <label for="residencia" class="col-form-label col-sm-2">Residencia</label>
                    <div class="col-sm-6">
                        <select  [compareWith]="compararResidencia" class="form-control form-select" [(ngModel)]="perro.residencia"
                            name="residencia" >
                            <option [ngValue]="undefined">--- selecionar una residencia ---</option>
                            <option *ngFor="let residencia of residencias" [ngValue]="residencia">{{residencia.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)="create()"
                            *ngIf="!perro.id else elseBlock" [disabled]="!perroForm.form.valid">Crear</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)="update()"
                                [disabled]="!perroForm.form.valid">Editar</button>
                        </ng-template>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>

