<div class="card border-primary mb-3 text-primary">
    <div class="card-header">Residencias</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de residencias</h5>

        <div class=" my-2 text-left">
            <button type="button" class="btn btn-primary btn-rounded" [routerLink]="['/residencias/form']">Crear
                residencia</button>
        </div>
        <div class="alert alert-info" *ngIf="residencias?.length==0">
            No hay registros en la base de datos!
        </div>
        <div class="table-responsive">
            <table class="table table-bordered  text-primary" *ngIf="residencias?.length>0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Propitario</th>
                        <th>Telefono</th>
                        <th>Calle</th>
                        <th>Numero</th>
                        <th>CP</th>
                        <th>Localidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let residencia of residencias">
                        <td> {{residencia.id}} </td>
                        <td> {{residencia.nombre}} </td>
                        <td> {{residencia.precio}} </td>
                        <td> {{residencia.propietario}} </td>
                        <td> {{residencia.telefono}} </td>
                        <td> {{residencia.calle}} </td>
                        <td> {{residencia.numero}} </td>
                        <td> {{residencia.cp}} </td>
                        <td> {{residencia.localidad}} </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" name="editar"
                                [routerLink]="['/residencias/form',residencia.id]">Editar</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" name="eliminar"
                                (click)='delete(residencia)'>Eliminar</button>
                        </td>

                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
</div>

