<!-- <app-menu></app-menu> -->

<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ titulo }}</h5>
        
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">

              <div class="col-sm">
                <ul *ngIf="residencia" class="list-group text-dark mb-3">
                  <li class="list-group-item"><b>ID: </b>{{residencia.id}}</li>
                <li class="list-group-item"><b>Nombre: </b>{{residencia.nombre}}</li>
                <li class="list-group-item"><b>Precio: </b>{{residencia.precio}}</li>
                <li class="list-group-item"><b>Telefono: </b>{{residencia.telefono}}</li>
                <li class="list-group-item"><b>Propietario: </b>{{residencia.propietario}}</li>
                <li class="list-group-item"><b>Calle: </b>{{residencia.calle}}</li>
                <li class="list-group-item"><b>Nº: </b>{{residencia.numero}}</li>
                <li class="list-group-item"><b>CP: </b>{{residencia.cp}}</li>
                <li class="list-group-item"><b>Localidad: </b>{{residencia.localidad}}</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

