<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores"> {{err}} </li>
</ul>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card bg-dark bg-opacity-50 text-white mt-5">
                <div class="card-header bg-dark bg-opacity-25"> {{titulo}} </div>
                <div class="card-body">
        
                    <form #voluntariaForm="ngForm">
                        <div class="form-group row mb-4">
                            <label for="nombre" class="col-form-label col-md-2 ">Nombre</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="voluntaria.nombre" name="nombre"
                                    #nombre="ngModel">
                                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                    <div *ngIf="nombre.errors['required']">
                                        Nombre es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="apellido1" class="col-form-label col-md-2">Primer Apellido</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="voluntaria.apellido1" name="apellido1"
                                    #apellido1="ngModel">
                                <div class="alert alert-danger"
                                    *ngIf="apellido1.invalid && (apellido1.dirty || apellido1.touched)">
                                    <div *ngIf="apellido1.errors['required']">
                                        Primer Apellido es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="apellido2" class="col-form-label col-md-2">Segundo Apellido</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="voluntaria.apellido2" name="apellido2"
                                    #apellido2="ngModel">
                                <div class="alert alert-danger"
                                    *ngIf="apellido2.invalid && (apellido2.dirty || apellido2.touched)">
                                    <div *ngIf="apellido2.errors['required']">
                                        Segundo apellido es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="email" class="col-form-label col-md-2">email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" [(ngModel)]="voluntaria.email" name="email"
                                    #email="ngModel">
                                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <div *ngIf="email.errors['required']">
                                        Email es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="telefono" class="col-form-label col-md-2">telefono</label>
                            <div class="col-md-6">
                                <input type="tel" class="form-control" [(ngModel)]="voluntaria.telefono" name="telefono"
                                    #telefono="ngModel">
                                <div class="alert alert-danger"
                                    *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    <div *ngIf="telefono.errors['required']">
                                        Telefono es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="ciudad" class="col-form-label col-md-2">Ciudad residencia</label>
                            <div class="col-md-6">
                                <input type="tel" class="form-control" [(ngModel)]="voluntaria.ciudad" name="ciudad"
                                    #ciudad="ngModel">
                                <div class="alert alert-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                                    <div *ngIf="ciudad.errors['required']">
                                        Ciudad es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <button class="btn btn-asa btn-lg px-5 ms-5 me-5" role="button" (click)="create()"
                                    [disabled]="!voluntariaForm.form.valid">Crear</button>
                                <button class="btn btn-asa btn-lg px-5" role="button" routerLink="/">Salir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
