
<!-- <app-menu></app-menu> -->
<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores"> {{err}} </li>
</ul>

<div class="container">
    <div class="card bg-dark text-white mt-5">
        <div class="card-header"> {{titulo}} </div>
        <div class="card-body">

            <form #eventoForm="ngForm">
                <div class="form-group row mb-4">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="evento.nombre" name="nombre"
                            #nombre="ngModel">
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors['required']">
                                Nombre es requerido!
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="fecha" class="col-form-label col-sm-2">Fecha</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" [(ngModel)]="evento.fecha" name="fecha"
                            #fecha="ngModel">
                        <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                            <div *ngIf="fecha.errors['required']">
                                Fecha es requerida!
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="evento.descripcion" name="descripcion"
                            #descripcion="ngModel">
                        <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                            <div *ngIf="descripcion.errors['required']">
                                Descripcion es requerida!
                            </div>
                           
                        </div>
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)="update()"
                        [disabled]="!eventoForm.form.valid">Editar</button>
                        <button class="btn btn-outline-primary btn-block" routerLink="/eventos">
                            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                        <!-- <button class="btn btn-primary" role="button" (click)="create()"
                            *ngIf="!evento.id else elseBlock" [disabled]="!eventoForm.form.valid">Crear</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)="update()"
                                [disabled]="!eventoForm.form.valid">Editar</button>
                        </ng-template> -->
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>

