<app-menu></app-menu>
<app-localizacion-detalle *ngIf="localizacionSeleccionada" [localizacion]="localizacionSeleccionada"></app-localizacion-detalle>
<div class="container-fluid">
    <div class="row">
        <app-dashboard class="col-md-2 bg-asa"></app-dashboard>
        <div class="col-md-10 mt-5">
            <div class="card border-primary mb-3 text-primary">
                <div class="card-header text-uppercase">localizaciones</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Listado de localizaciones</h5>

                    <div class=" my-2 text-left">
                        <button type="button" class="btn btn-primary btn-rounded" *ngIf="isAdmin" (click)="rutaCrear()"><i class="fas fa-plus-circle"></i> Crear
                            localizacion</button>
                    </div>
                    <div class="alert alert-info" *ngIf="localizaciones?.length==0">
                        No hay registros en la base de datos!
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered  text-primary" *ngIf="localizaciones?.length>0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Calle</th>
                                    <th>Numero</th>
                                    <th>CP</th>
                                    <th>Localidad</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let localizacion of localizaciones">
                                    <td> {{localizacion.id}} </td>
                                    <td> {{localizacion.nombre}} </td>
                                    <td> {{localizacion.calle}} </td>
                                    <td> {{localizacion.numero}} </td>
                                    <td> {{localizacion.cp}} </td>
                                    <td> {{localizacion.localidad}} </td>
                                    <td><button class="btn btn-outline-primary" 
                                            (click)="abrirModal(localizacion)"><i class="far fa-eye"></i>
                                            Ver</button></td>
                                    <td><button class="btn btn-outline-warning" *ngIf="isAdmin"
                                            routerLink="/localizaciones/editar/{{localizacion.id}}"><i class="far fa-edit"></i>
                                            Editar</button></td>
                                    <td><button class="btn btn-outline-danger" *ngIf="isAdmin" (click)="borrar(localizacion)"><i
                                                class="far fa-trash-alt"></i> Eliminar</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <app-pag-localizacion *ngIf="paginador" [paginador]="paginador"></app-pag-localizacion>
                </div>

            </div>

        </div>
    </div>
</div>
