<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores"> {{err}} </li>
</ul>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card bg-dark bg-opacity-25 text-dark mt-5">
                <div class="card-header bg-dark color-asa bg-opacity-25"> {{titulo}} </div>
                <div class="card-body">
                    <p class="color-asa"> {{subtitulo}} </p>
                    <form #adoptanteForm="ngForm">
                        <div class="form-group row mb-2">
                            <label for="nombre" class="col-form-label col-md-4 ">Nombre</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="adoptante.nombre" name="nombre"
                                    #nombre="ngModel">
                                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                    <div *ngIf="nombre.errors['required']">
                                        Nombre es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="apellido1" class="col-form-label col-md-4">Primer Apellido</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="adoptante.apellido1" name="apellido1"
                                    #apellido1="ngModel">
                                <div class="alert alert-danger"
                                    *ngIf="apellido1.invalid && (apellido1.dirty || apellido1.touched)">
                                    <div *ngIf="apellido1.errors['required']">
                                        Primer Apellido es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="apellido2" class="col-form-label col-md-4">Segundo Apellido</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="adoptante.apellido2" name="apellido2"
                                    #apellido2="ngModel">
                                <div class="alert alert-danger"
                                    *ngIf="apellido2.invalid && (apellido2.dirty || apellido2.touched)">
                                    <div *ngIf="apellido2.errors['required']">
                                        Segundo apellido es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="email" class="col-form-label col-md-4">email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" [(ngModel)]="adoptante.email" name="email"
                                    #email="ngModel">
                                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    <div *ngIf="email.errors['required']">
                                        Email es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="telefono" class="col-form-label col-md-4">telefono</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" [(ngModel)]="adoptante.telefono" name="telefono"
                                    #telefono="ngModel">
                                <div class="alert alert-danger"
                                    *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    <div *ngIf="telefono.errors['required']">
                                        Telefono es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="ciudad" class="col-form-label col-md-4">Ciudad residencia</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="adoptante.ciudad" name="ciudad"
                                    #ciudad="ngModel">
                                <div class="alert alert-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                                    <div *ngIf="ciudad.errors['required']">
                                        Ciudad es requerido!
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <!-- ----------------------------------------------------- -->
                        <div class="form-group row mb-2">
                            <label for="ciudad" class="col-form-label col-md-4">Mascota de interes</label>
                            <div class="col-md-6">
                              deberia salir la info de la mascota
                                
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="conocer" class=" col-form-label col-md-4">¿Cómo has conocido ASA?</label>
                            <div class="col-md-6">
                                  <textarea name="conocerAsa" id="conocer" cols="60" rows="1" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="contactar" class=" col-form-label col-md-4"> ¿Has contactado con alguna otra asociación?</label>
                            <div class="col-md-6">
                                  <textarea name="contactarOtras" id="contactar" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="tamañofamilia" class=" col-form-label col-md-4">  ¿Cuántas personas conviven en tu hogar?</label>
                            <div class="col-md-6">
                                  <input type="number" name="tamañofamilia" id="tamañofamilia"/>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="niños" class=" col-form-label col-md-4"> ¿Hay niños pequeños en la familia?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="niños" id="niñosSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="niños" id="niñosNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="acuerdo" class=" col-form-label col-md-4"> ¿Todos los miembros de la familia estáis de acuerdo?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="acuerdo" id="acuerdoSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="acuerdo" id="acuerdoNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="cuidar" class=" col-form-label col-md-4">  ¿Quién cuidará del animal y qué edad tiene?</label>
                            <div class="col-md-6">
                                  <textarea name="cuidar" id="cuidar" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="alergia" class=" col-form-label col-md-4"> ¿Algún miembro de la familia padece alguna alergia a algún animal?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="alergia" id="alergiaSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="alergia" id="alergiaNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="animalEnCasa" class=" col-form-label col-md-4"> ¿Tienes o has tenido algún animal en casa?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="animalEnCasa" id="animalEnCasaSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="animalEnCasa" id="animalEnCasaNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="infoMascota" class=" col-form-label col-md-4">   En caso positivo, cuéntanos algo de ellos.</label>
                            <div class="col-md-6">
                                  <textarea name="infoMascota" id="infoMascota" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="veterinario" class=" col-form-label col-md-4">  ¿Tienes algún veterinario de referencia? ¿Estarías de acuerdo que contactáramos con él?</label>
                            <div class="col-md-6">
                                  <textarea name="veterinario" id="veterinario" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="gastos" class=" col-form-label col-md-4">   ¿Qué gastos crees que acarrea un perro?</label>
                            <div class="col-md-6">
                                  <textarea name="gastos" id="gastos" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="permiso" class=" col-form-label col-md-4"> En el caso de vivir en alquiler, ¿tienes permiso del propietario para tener animales?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="permiso" id="permisoSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="permiso" id="permisoNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="rinconPerro" class=" col-form-label col-md-4">  ¿Dónde vivirá el perro? (Casa, apartamento, piso con terraza...) y ¿Dónde dormiría?</label>
                            <div class="col-md-6">
                                  <textarea name="rinconPerro" id="rinconPerro" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="solo" class=" col-form-label col-md-4">¿Cuánto tiempo pasará el perro solo en casa?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="solo" id="solo4-" value="4-"/><span>4 horas o menos</span>
                                  <input type="radio" name="solo" id="solo4-8" value="4-8"/><span>De 4 a 8 horas</span>
                                  <input type="radio" name="solo" id="solo8-12" value="8-12"/><span>De 8 a 12 horas</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="situacionSoloEnCasa" class=" col-form-label col-md-4"> Cuando no esté en casa quiero que mi perro esté…</label>
                            <div class="col-md-6">
                                  <input type="radio" name="situacionSoloEnCasa" id="situacionSoloEnCasaOut" value="Fuera de casa"/><span>Fuera de casa
                                </span>
                                  <input type="radio" name="situacionSoloEnCasa" id="situacionSoloEnCasaFree" value="suelto por la casa"/><span>Suelto dentro de casa</span>
                                  <input type="radio" name="situacionSoloEnCasa" id="situacionSoloEnCasaRoom" value="Encerrado en una habitacion"/><span>En una habitación dentro de casa</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="aMiLado" class=" col-form-label col-md-4">Cuando estoy en casa quiero que mi perro este a mi lado…</label>
                            <div class="col-md-6">
                                  <input type="radio" name="aMiLado" id="aMiLadoSi" value="Todo el tiempo"/><span>Todo el tiempo
                                </span>
                                  <input type="radio" name="aMiLado" id="aMiLadoBueno" value="algun tiempo"/><span>Algun tiempo</span>
                                  <input type="radio" name="aMiLado" id="aMiLadoPoco" value="poco tiempo"/><span>Poco tiempo</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="juegueton" class=" col-form-label col-md-4"> ¿Quiero que mi perro sea juguetón?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="juegueton" id="jueguetonMucho" value="Mucho"/><span>Mucho
                                </span>
                                  <input type="radio" name="juegueton" id="jueguetonPoco" value="Poco"/><span>Poco</span>
                                  <input type="radio" name="juegueton" id="jueguetonNada" value="Nada"/><span>Nada</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="entrenar" class=" col-form-label col-md-4">   Me gusta entrenar con mi perro para que mejore su comportamiento como no tirar de la correar, no saltar, etc.</label>
                            <div class="col-md-6">
                                  <input type="radio" name="entrenar" id="entrenarMucho" value="Mucho"/><span>Mucho
                                </span>
                                  <input type="radio" name="entrenar" id="entrenarPoco" value="Poco"/><span>Poco</span>
                                  <input type="radio" name="entrenar" id="entrenarNada" value="Nada"/><span>Nada</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="tranquilo" class=" col-form-label col-md-4">   ¿Quiero que mi perro sea tranquilo?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="tranquilo" id="tranquiloMucho" value="Mucho"/><span>Mucho
                                </span>
                                  <input type="radio" name="tranquilo" id="tranquiloPoco" value="Poco"/><span>Poco</span>
                                  <input type="radio" name="tranquilo" id="tranquiloNada" value="Nada"/><span>Nada</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="importante" class=" col-form-label col-md-4">Lo más importante para mí es que mi perro….</label>
                            <div class="col-md-6">
                                  <textarea name="importante" id="importante" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="asesoramiento" class=" col-form-label col-md-4"> ¿Valorarías la posibilidad de que la asociación os aconsejara sobre el perro más compatible para vuestra familia?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="asesoramiento" id="asesoramientoSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="asesoramiento" id="asesoramientoNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="recoger" class=" col-form-label col-md-4">¿Estarías dispuesto a ir a buscar a tu futuro perro a su lugar de acogida?</label>
                            <div class="col-md-6">
                                  <textarea name="recoger" id="recoger" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="discapacidad" class=" col-form-label col-md-4"> ¿Te importaría que el perro tuviera algún tipo de problema físico?</label>
                            <div class="col-md-6">
                                  <textarea name="discapacidad" id="discapacidad" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="edad" class=" col-form-label col-md-4">¿Prefieres un perro joven o adulto? Indícanos por qué.</label>
                            <div class="col-md-6">
                                  <textarea name="edad" id="edad" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="paseos" class=" col-form-label col-md-4"> ¿Dónde pasearás habitualmente con tu perro?</label>
                            <div class="col-md-6">
                                  <textarea name="paseos" id="paseos" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="paseostiempo" class=" col-form-label col-md-4">¿Cuántos paseos diarios y de cuánto tiempo serían?</label>
                            <div class="col-md-6">
                                  <textarea name="paseostiempo" id="paseostiempo" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="vacaciones" class=" col-form-label col-md-4"> ¿Has pensado qué vas a hacer con el perro durante las vacaciones?</label>
                            <div class="col-md-6">
                                  <textarea name="vacaciones" id="vacaciones" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="motivo" class=" col-form-label col-md-4"> ¿Cuál es la razón por la que quieres adoptar un perro?</label>
                            <div class="col-md-6">
                                  <textarea name="motivo" id="motivo" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="esterilizacion" class=" col-form-label col-md-4"> ¿Estás de acuerdo con la esterilización de los animales domésticos?</label>
                            <div class="col-md-6">
                                  <textarea name="esterilizacion" id="esterilizacion" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="comportamiento" class=" col-form-label col-md-4">¿Qué harías en caso de problemas de comportamiento o inadaptación?</label>
                            <div class="col-md-6">
                                  <textarea name="comportamiento" id="comportamiento" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="devolucion" class=" col-form-label col-md-4">¿Qué comportamiento te resultaría inaceptable como para devolvérnoslo?</label>
                            <div class="col-md-6">
                                  <textarea name="devolucion" id="devolucion" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="tiempo" class=" col-form-label col-md-4"> ¿Cuándo te gustaría tener el perro?</label>
                            <div class="col-md-6">
                                  <textarea name="tiempo" id="tiempo" cols="60" rows="2" maxlength="100"></textarea>
                              </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="visita" class=" col-form-label col-md-4">  ¿Estás dispuesto a recibir una visita nuestra, con el objeto de conocerte a ti y el futuro hogar del animal?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="visita" id="visitaSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="visita" id="visitaNo" value="No"/><span>No</span>
                              </div>
                        </div>
                       
                        <div class="form-group row mb-2">
                            <label for="pagar" class=" col-form-label col-md-4">¿Estás dispuesto a cubrir una parte de los gastos veterinarios asociados a la adopción con un donativo de 150€?</label>
                            <div class="col-md-6">
                                  <input type="radio" name="pagar" id="pagarSi" value="Si"/><span>Si</span>
                                  <input type="radio" name="pagar" id="pagarNo" value="No"/><span>No</span>
                              </div>
                        </div>
                        <div class="form-group row">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <button class="btn btn-asa btn-lg px-5 ms-5 me-5" role="button" (click)="enviar()"
                                        [disabled]="!adoptanteForm.form.valid">Enviar</button>
                                    <button class="btn btn-asa btn-lg px-5" role="button" routerLink="/">Cancelar</button>
                                </div>
                            </div>
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


