
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a  routerLink="/" class="navbar-brand d-flex align-items-lg-end border-end px-4 px-lg-5">
       <img src="../../../assets/img/logo.jpg" class=" img-fluid" height="70" width="70" alt=""> <h4 class="m-0 border-bottom border-5 color-asa">{{title}}</h4>
    </a>
    <button class="navbar-toggler collapsed"
    type="button" 
    data-bs-toggle="collapse"
    data-bs-target="#navbarHeader"
    aria-controls="navbarHeader"
    aria-expanded="false"
    aria-label="Alternar Navegacion">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarHeader">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a  routerLink="/" class="nav-item nav-link active ">Home</a>
            <a routerLink="/pagina/nosotros" class="nav-item nav-link">Sobre Nosotros</a>
        
         
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Colabora</a>
                <div class="dropdown-menu bg-light m-0">
                    <a routerLink="/pagina/adopta" class="dropdown-item">Adopta</a>
                    <a routerLink="/pagina/acoge" class="dropdown-item">Acoge</a>
                    <a routerLink="/pagina/voluntariado" class="dropdown-item">Voluntariado</a>
                    
                </div>
            </div>
            <a routerLink="/pagina/eventos" class="nav-item nav-link">Eventos</a>
            <a routerLink="/pagina/contacto" class="nav-item nav-link">Contacto</a>
        </div>
        <a  routerLink="/login" class="btn btn-asa rounded-0 py-4 px-lg-5 d-none d-lg-block"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
    </div>
</nav>
