<!-- <app-menu></app-menu> -->
<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores"> {{err}} </li>
</ul>

<div class="container">
    <div class="card bg-dark text-white mt-5">
        <div class="card-header"> {{titulo}} </div>
        <div class="card-body">

            <form #localizacionForm="ngForm">
                <div class="form-group row mb-4">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="localizacion.nombre" name="nombre"
                            #nombre="ngModel">
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors['required']">
                                Nombre es requerido!
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="calle" class="col-form-label col-sm-2">Calle</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="localizacion.calle" name="calle"
                            #calle="ngModel">
                        <div class="alert alert-danger" *ngIf="calle.invalid && (calle.dirty || calle.touched)">
                            <div *ngIf="calle.errors['required']">
                                Calle es requerido!
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="numero" class="col-form-label col-sm-2">Numero</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="localizacion.numero" name="numero"
                            #numero="ngModel">
                        <div class="alert alert-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
                            <div *ngIf="numero.errors['required']">
                                Numero es requerido!
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="cp" class="col-form-label col-sm-2">CP</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="localizacion.cp" name="cp"
                            #cp="ngModel">
                        <div class="alert alert-danger" *ngIf="cp.invalid && (cp.dirty || cp.touched)">
                            <div *ngIf="cp.errors['required']">
                                CP es requerido!
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="localidad" class="col-form-label col-sm-2">Localidad</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="localizacion.localidad" name="localidad"
                            #localidad="ngModel">
                        <div class="alert alert-danger" *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)">
                            <div *ngIf="localidad.errors['required']">
                                Localidad es requerido!
                            </div>
                           
                        </div>
                    </div>
                </div>
  
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)="create()" [disabled]="!localizacionForm.form.valid">Crear</button>
                        <button class="btn btn-outline-primary btn-block" routerLink="/localizacions">
                            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                        <!-- <button class="btn btn-primary" role="button" (click)="create()"
                            *ngIf="!localizacion.id else elseBlock" [disabled]="!localizacionForm.form.valid">Crear</button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)="update()"
                                [disabled]="!localizacionForm.form.valid">Editar</button>
                        </ng-template> -->
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>
