

        <div class="bg-asa ">
            <div class=" img-thumbnail mt-5 mb-5">aqui va la foto de perfil</div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/voluntarias">Voluntarias</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/residencias">Residencias</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/perros">Perros</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/gatos">Gatos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/encargados">Encargados</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/localizaciones">Localizaciones</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/eventos">Eventos</a>
                </li>
                <li class="nav-item text-white" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/adoptantes">Adoptantes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white" routerLink="/mascotas">Mascotas</a>
                </li>
                <!--   <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>-->
            </ul>





        </div>

